<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
        <title>
            <%= title%>
        </title>
</head>
<body class="d-flex h-100 text-center text-bg-dark">
  <div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column">

    <%- include('partials/navigation') %>
    <main>
      <div class="row row-cols-1 row-cols-md-3 my-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h6 class="my-0 fw-normal">Asesoramiento y Apoyo Individual</h6>
            </div>
            <div class="card-body">
              <p>Brindamos orientación personalizada para ayudar a las personas a superar sus adicciones y tomar control de sus vidas.</p>
              <button type="button" class="w-100 btn btn-lg btn-primary">conocer mas</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h6 class="my-0 fw-normal">Grupos de Apoyo</h6>
            </div>
            <div class="card-body">
              <p>Ofrecemos espacios seguros donde las personas pueden compartir sus experiencias y recibir apoyo mutuo.</p><br>
              <button type="button" class="w-100 btn btn-lg btn-primary">conocer mas</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h6 class="my-0 fw-normal">Tratamiento Residencial</h6>
            </div>
            <div class="card-body">
              <p>Operamos instalaciones de tratamiento en régimen de internado para una recuperación intensiva.</p>
              <button type="button" class="w-100 btn btn-lg btn-primary">conocer mas</button>
            </div>
          </div>
        </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h6 class="my-0 fw-normal">Educación Comunitaria</h6>
          </div>
          <div class="card-body">
            <p>Organizamos eventos de concienciación en la comunidad para promover la prevención y el apoyo a las personas afectadas.</p>
            <button type="button" class="w-100 btn btn-lg btn-primary">conocer mas</button>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h6 class="my-0 fw-normal">Investigación y Desarrollo</h6>
            </div>
            <div class="card-body">
              <p>Participamos en investigaciones para mejorar los métodos de tratamiento y prevención de las adicciones.</p>
              <button type="button" class="w-100 btn btn-lg btn-primary">conocer mas</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h6 class="my-0 fw-normal">Recursos para Familias</h6>
            </div>
            <div class="card-body">
              <p>Proporcionamos asesoramiento a las familias de personas con adicciones para ayudarles a apoyar a sus seres queridos.</p> <br>
              <button type="button" class="w-100 btn btn-lg btn-primary">conocer mas</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </div>
</body>
<!-- <body>
    <%- include('partials/navigation') %>
        <main class="container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h3 class="display-3 d-flex justify-content-center">Acompañamiento Psicologico</h3>
                <img src="https://www.shutterstock.com/shutterstock/photos/425712538/display_1500/stock-photo-helping-hand-outstretched-for-salvation-on-isolated-toned-background-425712538.jpg" alt="drogas"
                    width="200px">
                <p class="d-flex justify-content-center shadow">
                    "En el viaje de la vida, nuestros pensamientos y emociones se entrelazan en un intrincado laberinto,
                    guiando nuestras acciones y moldeando nuestras relaciones. Cada experiencia que atravesamos nos
                    brinda la oportunidad de descubrir la fortaleza interna que yace en nosotros. Al explorar los
                    recovecos de nuestra mente, podemos desentrañar los patrones que nos limitan y cultivar una mayor
                    comprensión de nosotros mismos. Recordemos que el autodescubrimiento es un proceso valiente y
                    transformador. Al embarcarnos en conversaciones psicológicas, abrimos la puerta hacia la sanación,
                    el crecimiento y el empoderamiento. A medida que exploramos las profundidades de la psicología
                    humana, recordemos que cada paso hacia la autorreflexión nos acerca un poco más a la autenticidad y
                    la plenitud."
                </p>
                <h6 class="display-6 d-flex justify-content-center">Contacta Con Nosotros</h6>
                <img src="https://www.anahuac.mx/mexico/sites/default/files/styles/webp/public/noticias/El-Cenaced-y-la-Anahuac-brindamos-ayuda-psicologica.jpg.webp?itok=9pC_QpW3" alt="drogas"
                    width="200px">
                <p class="d-flex ">
                    Estimado Amigo, <br> <br>

                    Esperamos que te encuentres bien. Nos complace anunciar que "Preventios Drugs" está organizando una
                    serie de charlas psicológicas diseñadas para abordar la importante temática de la prevención de
                    drogas en nuestra comunidad.

                    <br> <br>

                    Estas charlas estarán dirigidas por expertos en el campo de la psicología y se centrarán en brindar
                    información esencial sobre los efectos de las drogas, así como estrategias para prevenir su abuso.
                    Creemos que la educación y la conciencia son fundamentales para crear una comunidad más segura y
                    saludable.

                    Tu presencia sería de gran valor para nosotros. Queremos brindarte herramientas y conocimientos que
                    puedan marcar la diferencia en la vida de las personas que te rodean. También habrá oportunidades
                    para hacer preguntas y compartir tus inquietudes.

                    Por favor, confirma tu asistencia antes del [Fecha límite de confirmación] para que podamos
                    asegurarnos de tener suficientes lugares disponibles. Si tienes alguna pregunta o necesitas más
                    información, no dudes en ponerte en contacto con nosotros al [Número de contacto] o [Correo
                    electrónico de contacto].

                    Esperamos verte en el evento y trabajar juntos en la prevención de un problema que afecta a tantas
                    personas en nuestra sociedad.

                    Atentamente,
                    El Equipo de Preventios Drugs
                </p>
                <a href="/contact" class="btn btn-primary w-25">Read More...</a>
            </section>
        </main>
</body> -->

</html>